.html{
    font-family: 'Ubuntu', sans-serif;
}

.signUp_main_container {
    max-width: 100vw;
    min-height: 100vh;
}

.box {
    align-items: center;
    height: 400px;
    box-shadow: -2px 0px 72px 35px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: -2px 0px 72px 35px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: -2px 0px 72px 35px rgba(0, 0, 0, 0.09);
}

.inputBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error_message {
    color : red;
    margin: 0;
    /* margin-right: 13rem;
    font-size: 0.8rem; */
}

.img2{
    background-image:url('https://images.pexels.com/photos/3568520/pexels-photo-3568520.jpeg?auto=compress&cs=tinysrgb&w=600');
    height: 100vh;
    /* width: "100%", */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;
}


.img1{
    background-image:url('https://images.pexels.com/photos/3345882/pexels-photo-3345882.jpeg?auto=compress&cs=tinysrgb&w=600');
    height: 100vh;
    /* width: "100%", */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;
}

.c {
    cursor: pointer;
    will-change: transform, opacity;
    }

.trailstext{
    will-change: transform, opacity;
    overflow: hidden;
}